[2018-05-29 11:58] kimjongmo opened #3 "How do I modify the java source code and apply it?"
After modifying the config.java file, I ran the java -cp blockchain-client.jar org.app.network.CreateChannel command. However, it says that it can not find or load the base class org.app.network.CreateChannel.

If I want to use the changed source, can you tell me what the process should be?

[2018-05-29 14:59] balajikadambi commented on #3
@kimjongmo
Please see if you chose the snapshot jar with dependencies under the target folder.
If you would like to contribute, please see the CONTRIBUTING.md file for more information.
If you would like to modify the source to experiment, please fork the repository.

Thanks,
Balaji

[2018-05-31 09:34] balajikadambi commented on #3
@kimjongmo Please re-open the issue if you still have a problem running the code.

[2018-05-31 09:34] #3 closed

[2018-06-11 08:18] jiaxyan opened #5 "but there is no dir chaincode and chaincode/input int the project"
when run the deploychain, Encounter the peblem that it needs dir chaincode and chaincode/input, I found chaincode/src/github.com/fabcar somewhere else, but I do not know where to get chaincode/input...

[2018-06-12 04:40] balajikadambi commented on #5
@jiaxyan we have not seen the error before. could you paste the entire error trace.

[2018-06-21 09:53] jiaxyan commented on #5
@balajikadambi Thanks for you attention. Then I realize the reason is that I want to run the java code in eclipse immediately, I have'n move the chaincode(which is located in the dir'network_resources') to the java code path. (plus: this project is really a good tutorial for beginners)

[2018-06-23 03:10] maheshwarishikha commented on #5
Good to know that it worked for you. Hence closing this issue. Thanks.

[2018-06-23 03:10] #5 closed

[2018-07-30 09:51] amr-mokhtar opened #6 "Memory leak in instantiateChainCode"
Instantiating the chaincode causes program to hang and eating up all OS memory until in cause OS to become unresponsive. It seems that it is keeps allocating some memory till it is completely consumed. Below are the printout of the `DeployInstantiateChaincode` method execution..

[code]

Testing it on another setup (with bigger memory, 2GB) dips at the same point but after some time gives a failur

[2018-08-15 07:26] ZhengXuxiao commented on #6
Hi, I have the same problem as you. Is there any good idea to fix it?

[2018-08-15 09:25] amr-mokhtar commented on #6
As an interim fix, I've increased the virtual memory of the machine and it started to work ok.
Follow these steps to add 4GB virtual memory..
[code]

To make it permanent, add the following line to the /etc/fstap file:
[code]

[2018-08-17 08:26] ZhengXuxiao commented on #6
Thanks for your advise! I run the function in an IDE and it work!

[2018-08-29 08:07] linzhuvi opened #7 "fabric 1.1 and 1.2 is not supported"
hi:
thanks for the contribution of this java sdk demo, it is very helpfull.
unfortunately fabric 1.1.0 and 1.2.0 is not supported in this repo.
can you upgrade the code to 1.1.0 and 1.2.0?
cause when i change the version of fabric-sdk-java from 1.0.0 to 1.1.0 or 1.2.0
bad things happens like this:

![screenshot from 2018-08-29 16-06-24](https://user-images.githubusercontent.com/12165903/44774371-8

[2018-08-30 06:58] hantsy opened #8 "Docker failed under Windows 10"
I was using the latest Docker Toolbox 2018.06.1 under Windows 10 x64.

Following the steps in the README of this repo, when I tried to create the network by running the following command:

` sh build.sh`

The output info is ok, but when I ran `docker ps -a` and got the following info:

[code]

Some services are not running.

PS: I assigned 4G mem to the virtulbox vm when I created the machine.

[2018-09-02 06:26] hantsy commented on #8
Anyone encountered the same issues?

[2018-09-02 07:01] maheshwarishikha commented on #7
@linzhuvi, Please check without changing fabric-sdk-java version. If you notice the repository  sets up the 1.1 fabric network and uses 1.0 fabric-sdk-java. So such operations (shown in code) works perfectly fine.

[2018-09-02 07:03] maheshwarishikha commented on #8
@hantsy , what did docker logs say?

[2018-09-02 10:12] hantsy commented on #8
One of peer service node:

[code]

[2018-09-02 15:50] linzhuvi commented on #7
@maheshwarishikha  , hi , that is what i am talking about, when can the project supoort the fabric-sdk-java 1.1/1.2 ? thanks.

[2018-09-10 12:43] jamiecoleman92 commented on #7
So mine is working fine with 1.1 but their is no image for x86 architecture on Dockerhub and when I try the one with no architecture tag it simply does not work. Should I be doing something different or should I wait for a new version of the image? I thought 1.3 was the latest but I may be wrong.

[2018-09-10 13:15] keenkit commented on #7
I got the same issue `ECDSA KeyFactory not available` when running fabric `1.2.0` network, any one may help on this?

[2018-09-11 06:08] keenkit opened #9 "Looks like it does not support TLS enabled network"
When I am using the `grpcs` other than `grpc`, it throws error like `java.security.cert.CertificateException: No subject alternative DNS name matching localhost found.`
Any ideas? Or do we have roadmap to support `TLS` and `HTTPS`? Thanks.

[2018-09-27 09:33] Monika2412 opened #10 "Error during channel creation"
Hi....
I am facing the following issue while creating the channel. Please help me in this.
Thank you..

 I created my own project with the help of this project
Steps I followed while running:
- Go to network folder and issue the following command
- cryptogen generate --config=./crypto-config.yaml
- configtxgen -profile TwoOrgsOrdererGenesis -outputBlock ./config/genesis.block
- configtxgen -profil

[2018-09-28 02:55] #10 closed

[2018-09-28 03:30] balajikadambi commented on #6
Issue resolved after increasing the memory.

[2018-09-28 03:30] #6 closed

[2018-09-28 03:33] balajikadambi commented on #9
@keenkit We do not have it on plan as of now to support TLS/HTTPs. We have made a note of the issue. Meanwhile if you do have the changes to make it work for grpcs, please share the changes with us on a GitHub branch and we will merge it on the repository.

[2018-10-02 09:13] jiaxyan opened #11 "How to get cli installed?"
[code]

I want to use cli container to execute some command, to get information from running fabric.
And I added config code above in network/docker-compose.yml.
But not sure about this docker-compose.yml config file, Is this right?

[2018-10-05 04:52] krishna81m commented on #7
Any updates to 1.2? @maheshwarishikha

[2018-10-05 09:34] maheshwarishikha commented on #11
It looks ok. Is it not working for you?

you can add the following line for your cli container:
command: /bin/bash

[2018-10-05 09:37] maheshwarishikha commented on #8
@hantsy - it seems to be certificate issue. As it is windows, so paths might be different than linux. Please check the paths in docker-compose.yml and modify if needed.  Let me know if it helped. Thanks

[2018-10-05 09:39] maheshwarishikha commented on #7
@krishna81m  this repository talks about Fabric Java SDK but uses chaincode in 'golang'. It does not include Java chaincode.

[2018-10-07 09:08] hantsy commented on #8
@maheshwarishikha Yes, it could be a Windows specific issue, and I have tried it in Vagrant ubuntu, it works .

[2018-10-08 18:18] krishna81m commented on #7
My question was: why don't we have a Java chaincode example anywhere?

[2018-10-09 10:39] maheshwarishikha commented on #7
@krishna81m , there were some limitations with Java chaincode and it was not fully supported with 1.1 and 1.2.
Java chaincode is going to be supported by Fabric 1.3 onwards.

[2018-10-09 10:40] maheshwarishikha commented on #11
Closing the issue now, plz reopen or open a new issue if needed. Thanks.

[2018-10-09 10:40] #11 closed

[2018-10-09 10:41] #8 closed

[2018-10-12 01:03] linzhuvi commented on #7
closed as no planned actions.

[2018-10-12 01:03] #7 closed

[2018-10-19 02:11] ZhiqiangGuo1994 opened #12 "Register and enroll user"
I'm sorry to bother you. When I executed RegisterEnrollUser.java, user-****.ser file is generated.What‘s the effect of the generated new file?

[2018-10-29 16:03] balajikadambi commented on #12
This file serializes the enrollment information. It is java serialized object.

[2018-10-31 03:54] ZhiqiangGuo1994 commented on #12
I want to execute the queryMarblesByOwner function in the marbles_chaincode.go file. How should I configure the current network?

[2018-10-31 10:35] maheshwarishikha commented on #12
@ZhiqiangGuo1994 ,  If you want to deploy the different chaincode on the network then
1. change chaincode related details in `blockchain-application-using-fabric-java-sdk/java/src/main/java/org/app/config/Config.java`

2. Change chaincode invocation(invoke and query) functions in `blockchain-application-using-fabric-java-sdk/java/src/main/java/org/app/chaincode/invocation/`

Once done, build the c

[2018-11-01 08:49] ZhiqiangGuo1994 commented on #12
I'm sorry to bother you. According this fabric network, I modified it into four organizations（org3,  org4）.But when I register a user with the new organization, I am prompted with the following error. Can you help me with it?

org.hyperledger.fabric_ca.sdk.exception.RegistrationException: Error while registering the user FabricTest.user.UserContext@ba54932 url: http://localhost:10054  POST request

[2018-11-23 07:36] ZhiqiangGuo1994 commented on #12
I want to add an endorsement policies to the code. What should I do?

[2018-11-23 07:38] ZhiqiangGuo1994 opened #13 "endorsement policies"
I'm sorry to bother you . I want to add an endorsement policies to the code. What should I do?

[2018-11-30 06:16] maheshwarishikha commented on #12
Hope the response helped and worked for you.
Closing this issue now.

[2018-11-30 06:16] #12 closed

[2018-12-07 02:31] ljbennett62 commented on #13
@ZhiqiangGuo1994 - I want to make sure I understand - you want to add it to this code base? If so - open up a PR? Please clarify if that is not what you asking. tx

[2018-12-09 09:19] ZhiqiangGuo1994 commented on #13
Sorry, you may have misunderstood what I mean. At present, I am experimenting with this framework. I have encountered some problems in the process and would like to ask the author. I don't want to modify the entire framework.

[2018-12-10 06:14] yanhuibin315 opened #14 "can not change to no-static?"
I change queryfunction in a non-static function. but it will be wrong for NullPoint?

[2018-12-10 08:19] balajikadambi commented on #13
@ZhiqiangGuo1994 We have not tried the endorsement policies part here. You might need to refer to the test code here - https://github.com/hyperledger/fabric-sdk-java/blob/master/src/test/java/org/hyperledger/fabric/sdk/ChaincodeEndorsementPolicyTest.java.

[2018-12-10 08:20] balajikadambi commented on #14
@yanhuibin315 could you provide me more details on the issue. It can be made into a non-static function with necessary code changes.

[2018-12-10 13:16] yanhuibin315 commented on #14
the all details:
[root@localhost network_resources]# java -cp culebao.jar main.java.org.app.chaincode.invocation.QueryChaincode
Dec 10, 2018 9:15:39 PM main.java.org.app.util.Util deleteDirectory
INFO: Deleting - admin.ser
Dec 10, 2018 9:15:39 PM main.java.org.app.util.Util deleteDirectory
INFO: Deleting - org1
Dec 10, 2018 9:15:39 PM main.java.org.app.util.Util deleteDirectory
INFO: Deleting - us

[2018-12-10 14:09] balajikadambi commented on #14
@yanhuibin315 try increasing the proposal wait time to see if it resolves the issue.
request.setProposalWaitTime(1000);

[2018-12-11 06:57] yanhuibin315 commented on #14
Sorry, I tried to increase the prososal wait time to 100000000, but I got the same wrong message like that ::
[root@localhost network_resources]# java -cp culebao.jar main.java.org.app.chaincode.invocation.QueryChaincode
Dec 11, 2018 2:53:44 PM main.java.org.app.util.Util deleteDirectory
INFO: Deleting - users
log4j:WARN No appenders could be found for logger (org.hyperledger.fabric.sdk.helper.Con

[2018-12-11 06:58] yanhuibin315 commented on #14
But if I make the function to static . That would be ok

[2018-12-11 07:13] NamanSharma21 opened #15 "Could Not Find Main Class CreateChannel.class"

[2018-12-11 07:18] NamanSharma21 commented on #15
After following all the steps from the readme.md file when i run the command java -cp blockchain-client.jar org.app.network.CreateChannel i get an error Error: Could not find or load main class .home.vdoit.blockchain-application-using-fabric-java-sdk.java.src.main.java.org.app.network.CreateChannel
Caused by: java.lang.ClassNotFoundException: /home/vdoit/blockchain-application-using-fabric-java-sd

[2018-12-12 01:49] yanhuibin315 commented on #14
WOWWW ! I miss the step to createchannel , and now I process the function to non-static. Thank you ~~

[2018-12-12 01:51] yanhuibin315 commented on #15
that they cannot find the main function , maybe you could find you function CreateChannel if they real into that way

[2018-12-12 16:30] NamanSharma21 commented on #15
After i clone the project why does it show errors in every class i followed all the steps but still having errors.

[2018-12-13 01:34] yanhuibin315 opened #16 "How can I user couchDB"
I want to use couchDB, so how can I config it ??

[2018-12-13 01:35] yanhuibin315 commented on #15
maybe you should change the package name at first

[2018-12-13 04:18] balajikadambi commented on #15
@NamanSharma21 the source folders are possibly not set properly. hence the package names are not correct. could you see if the source folder is set properly on eclipse to point to src->main->java.

[2018-12-13 04:20] balajikadambi commented on #16
@yanhuibin315 we have not tried it here. you may need to refer to the documentation -https://hyperledger-fabric.readthedocs.io/en/release-1.3/couchdb_as_state_database.html.

[2018-12-19 11:37] NamanSharma21 commented on #15
@balajikadambi Thanks for the help it worked. Also i have some questions regarding the configuration of my network like configuring the ports and url how can i contact you?

[2018-12-25 02:52] yanhuibin315 opened #17 "CreateChannel Error!"
Hello,
I tried to make fabric-network in five server, one order, four peer, and I change the config and docker-compose.yml files , when I use jar to CreateChannel on one peer, I get ERROR MESSAGE like that :
org.hyperledger.fabric.sdk.exception.TransactionException: Send transactions failed. Reason:  timeout
        at org.hyperledger.fabric.sdk.OrdererClient.sendTransaction(OrdererClient.java:163

[2018-12-25 08:18] yanhuibin315 commented on #17
I got it that I could not close the firewall . thank you

[2019-01-03 11:44] #17 closed

[2019-01-03 11:45] maheshwarishikha commented on #14
Closing the issue, as it worked for you. Thanks.

[2019-01-03 11:45] #14 closed

[2019-01-07 03:05] yanhuibin315 opened #18 "How to use CA?"
I want to use CA, but I dont know how to make CA config . And I got this Error:
an 07, 2019 10:35:32 AM main.java.org.app.util.Util deleteDirectory
INFO: Deleting - users
org.hyperledger.fabric_ca.sdk.exception.EnrollmentException: Url:http://192.168.7.107:7054, Failed to enroll user admin
	at org.hyperledger.fabric_ca.sdk.HFCAClient.enroll(HFCAClient.java:346)
	at org.hyperledger.fabric_ca.sdk.HF

[2019-01-10 12:03] anjalisn4 opened #19 "Unable to deploy a chain code with external dependency"
If the chain code file has external dependency referring the go vendor directory,the chain code install fails.Any suggestions?

[2019-01-26 11:29] rameelrahman opened #21 "Output doesn't match with the data in the ledger"
Thank you Balaji for share the resource. I have a query regarding the output I got.

Everything worked as said in the read me, but the output data is not the same as the ledger data. Am I doing anything wrong?
Output I got by running this chaincode "java -cp blockchain-client.jar org.app.chaincode.invocation.QueryChaincode" is
INFO: {"make":"Chevy","model":"Volt","colour":"Red","owner":"Nick"}
But

[2019-01-30 05:57] maheshwarishikha commented on #21
@rameelrahman ,
{"make":"Chevy","model":"Volt","colour":"Red","owner":"Nick"} - is not part of init() but we are doing invoke transaction before query with this data. Hence query returns this result.

Hope that clarifies your question. Thanks.

[2019-01-30 06:01] maheshwarishikha commented on #19
@anjalisn4 , external dependancy has to be there and should be resolvable during chaincode install. If not, it will throw error.

You can share error, if you need more help for the same. I'll check and try to resolve. Thanks.

[2019-02-13 04:34] anjalisn4 commented on #19
I was able to resolve the dependency error using Go Vendoring management

[2019-02-13 04:36] #19 closed

[2019-02-18 01:22] ZaheerUdDeen commented on #16
I want to contribute to this open source project. Can I take up this as my first challenge?

[2019-02-18 01:38] ljbennett62 commented on #16
@balajikadambi @yanhuibin315 - we always encourage other contributors - - submit a PR and we will review.

[2019-02-18 01:41] ZaheerUdDeen commented on #16
Thanks! let me take up this challenge. Soon I will submit PR on this issue.

[2019-02-18 10:17] maheshwarishikha commented on #18
@yanhuibin315 , what code changes you made and what actually you wanted to achieve? Given code uses CA and enrollment / registration all works fine.

[2019-02-18 10:18] maheshwarishikha commented on #21
Hope previous response helped you. Hence closing this issue, plz reopen or open a new issue if you have any question.

[2019-02-18 10:18] #21 closed

[2019-02-23 16:55] rameelrahman commented on #21
Hi Mahesh,
Sorry for the delay in responding. Yes, I'm clear now.
Can I know in which chaincode you are running the invoke transaction, I couldn't locate it exactly.

[2019-03-01 09:41] viettienbk opened #25 "Error when invoke chaincode"
Hi team,
I get error "java.lang.NullPointerException" when Invoke or query chaincode.
The output:
$ java -cp blockchain-client.jar org.app.chaincode.invocation.InvokeChaincode
`Mar 01, 2019 4:35:09 PM org.app.util.Util deleteDirectory
INFO: Deleting - admin.ser
Mar 01, 2019 4:35:09 PM org.app.util.Util deleteDirectory
INFO: Deleting - org1
Mar 01, 2019 4:35:09 PM org.app.util.Util deleteDirectory

[2019-03-01 09:59] viettienbk commented on #25
Sorry, my bad.

[2019-03-01 09:59] #25 closed

[2019-03-03 02:54] maheshwarishikha commented on #18
@yanhuibin315 , the CA issue resolved? let us know if you need any help else we will close the issue. Thanks.

[2019-03-05 09:15] lekya commented on #25
Hey, Can you please tell me how did you solve that?

[2019-03-13 15:15] rituusjain commented on #17
I'm getting the same error, can someone post the fix please. Thanks!

[2019-04-07 13:54] rafialhamd opened #26 "Wrong 'package name' convention: org.app.*"
I see that below package name is used.

The above package name to be used ONLY if the authors OWN the domain name `app.org`. Otherwise, please make use of something you all own OR org.example.*

The idea behind package naming is that the **package name must be UNIQUE** universally.
If somebody owns `mycompany.com`, then then have the RIGHTS to make use of the package name `com.mycompany.*`. Otherw

[2019-04-18 10:45] HDBISG opened #29 "how to create new organization and peers?"
May I ask how to create new organization and peers?

How to create new organization and add new peer?

Can I change the pear name? like change peer0.org1.example.com to userName.projectName.myCompanyName.com?

Thank you for your help！

[2019-04-22 11:04] Z-LL commented on #10
How did you solve this?　I have the same problem.

[2019-04-23 10:36] #13 closed

[2019-04-23 10:37] #16 closed

[2019-04-23 10:37] #18 closed

[2019-04-23 10:41] maheshwarishikha commented on #29
@HDBISG , adding more org and peers is part of setting up network. You need to update configuration files available at https://github.com/IBM/blockchain-application-using-fabric-java-sdk/tree/master/network appropriately.

Generate artifacts as per your modified config files and setup network. And yes, you can change peer name.

Hope it will help. Thanks.

[2019-04-23 11:11] HDBISG commented on #29
Thanks reply!
let me try it this week and next week.

[2019-04-24 10:14] haohaohaoer opened #31 "CreateChannel Error when I re-generate the artifacts"
Hi....
I am facing the following issue while creating the channel. Please help me in this.
Thank you..

I created my own project with the help of this project
Steps I followed while running:

Go to network folder and issue the following command
cryptogen generate --config=./crypto-config.yaml
configtxgen -profile TwoOrgsOrdererGenesis -outputBlock ./config/genesis.block
configtxgen -profile TwoOrg

[2019-04-28 08:29] FierceDog opened #32 "Deploy and Instantiate the chaincode when I run the command"
java -cp blockchain-client.jar org.app.network.DeployInstantiateChaincode

When I run this command I met this error  i can't solve:
 INFO: Chaincode fabcar on channel mychannel instantiation java.util.concurrent.CompletableFuture@8692d67[Completed exceptionally: org.hyperledger.fabric.sdk.exception.InvalidArgumentException: java.lang.NullPointerException]
Apr 28, 2019 1:22:06 AM org.app.network.De

[2019-04-30 02:46] HDBISG commented on #29
@maheshwarishikha
The change container name is easy,  I changed the container_name at docker-compose.yml.

But when I create a new peer. I can  not find the folder like peer2.org1.example.com.
How to set volumes for new peer in docker-compose.yml like - ../network_resources/crypto-config/peerOrganizations/org1.example.com/peers/peer1.org1.example.com/msp:/etc/hyperledger/fabric/msp

[2019-04-30 02:56] HDBISG commented on #29
May I ask what is the purpose of the files under network_resources?
How to generate files at folder network_resources?

[2019-04-30 03:03] HDBISG commented on #29
If I create new peer, I need to change DeployInstantiateChaincode.java and CreateChannel.java to join the new peer to an organization, yes?

[2019-04-30 13:26] maheshwarishikha commented on #29
You need to create that using utilities.

[2019-04-30 13:29] maheshwarishikha commented on #29
network_resources are the artifacts generated which has certificates and channle configuration for the network identities. These are the first step - one has to perform while setting up the network. For the ease, in this repository I have generated already and provided directly for use.
For more details, please refer https://hyperledger-fabric.readthedocs.io/en/release-1.4/build_network.html
you n

[2019-04-30 13:30] maheshwarishikha commented on #29
yes, if you want that peer to join channel:)

[2019-04-30 13:44] maheshwarishikha commented on #31
@haohaohaoer , as per this error message: "New channel mychannel error." seems like you have not chnaged the channel name in Java code. Please check.

[2019-04-30 13:45] maheshwarishikha commented on #32
@FierceDog , did you make any changes in code before executing?

[2019-05-02 02:50] HDBISG commented on #29
Thanks!
Let me try it!

[2019-05-02 02:50] #29 closed

[2019-05-02 04:25] balajikadambi commented on #26
@rafialhamd thanks for the information. As of now I see that the domain is not used anywhere. We will make the changes.

[2019-05-02 05:30] rafialhamd commented on #26
Since, this is being hosted in **IBM repository**, it would be safer to make ues of something like,
`package com.ibm.example.hyperledger.app.network`.

Thanks!

[2019-05-02 05:37] balajikadambi commented on #26
@rafialhamd changed to org.example.

[2019-05-02 05:37] #26 closed

[2019-05-05 02:12] FierceDog commented on #32
Yes,I make changes in pom.xml. I added javax.xml.bind in the pom.xml

[2019-05-16 13:37] FrozenFort opened #34 "Problem enrolling when using Identity Mixer"
Hi guys~

Have you ever tried the feature Identity Mixer added in version 1.3.0? When I modified this example to use this feature, I get this error on the fabric-ca side:

`[ERROR] Failed to update level of user: No rows were affected when updating the state of identity`

Below is the place where I modified this example:
In the function org.example.client.CAClient#enrollAdminUser, I added the seco

[2019-08-16 07:05] maheshwarishikha commented on #31
@haohaohaoer , I do not see any update on this issue after my update. Hope it must have worked for you. Closing this issue now. Feel free to re-open the issue, if the same problem persists.

[2019-08-16 07:05] #31 closed

[2019-08-16 07:06] maheshwarishikha commented on #32
@FierceDog , Sorry for delayed response...is the issue fixed now?

[2019-08-16 07:08] maheshwarishikha commented on #34
@FrozenFort , Did it work for you?
We will not update this repository with Identity mixer feature...we might plan to do in a seperate repository with some use case. Hence closing this issue for now.

[2019-08-16 07:08] #34 closed

[2019-09-02 15:12] FierceDog commented on #32
Sorry replyed so late，the issue fixed.&nbsp;

---Original---
From: "maheshwarishikha"<notifications@github.com&gt;
Date: 2019/8/16 15:06:34
To: "IBM/blockchain-application-using-fabric-java-sdk"<blockchain-application-using-fabric-java-sdk@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"FierceDog"<599445214@qq.com&gt;;
Subject: Re: [IBM/blockchain-application-using-fabric-jav

[2019-09-05 09:00] githubofljl opened #37 "Something wrong when i use DeployInstantiateChaincode"
When I run DeployInstantiateChaincode for the first time,i met this and i dont know why
`16:47:27.894 [main] ERROR org.hyperledger.fabric.sdk.Channel - Channel Channel{id: 1, name: mychannel} sending proposal with transaction 858e3874edde327995944626218586baddb8100d9bafc1b1603e2e73a8887d2c to Peer{ id: 3, name: peer0.org1.example.com, channelName: mychannel, url: grpc://0.0.0.0:7051} failed becaus

[2019-09-05 09:04] maheshwarishikha commented on #32
@FierceDog , it will be helpful if you can share about this more - how did it get fixed and what was the reason of this?
Thanks

[2019-09-05 09:25] balajikadambi commented on #37
@liujianglin1 It appears to be a timeout issue. The proposal wait time has been set to 180000ms in the instantiateChainCode method of ChannelClient.java file. Please increase it a bit and see if it helps.

[2019-09-06 03:31] liujianglin1 commented on #37
i tried this ,but it seems no help.

[2019-09-06 13:03] wds3817 opened #38 "blockchain-application-using-fabric-java-sdk"
after deploy the maven environment and build the network, I reach the 4th step, Deploy and Instantiate the chaincode, then I meet the tricky problem,
java -cp blockchain-client.jar org.example.network.DeployInstantiateChaincode
log4j:WARN No appenders could be found for logger (org.hyperledger.fabric.sdk.helper.Config).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://

[2019-09-10 00:47] wds3817 commented on #38
[INFO] META-INF/maven/io.netty/ already added, skipping
[INFO] META-INF/io.netty.versions.properties already added, skipping
[INFO] META-INF/INDEX.LIST already added, skipping
[INFO] META-INF/MANIFEST.MF already added, skipping
[INFO] META-INF/ already added, skipping
[INFO] io/ already added, skipping
[INFO] io/netty/ already added, skipping
[INFO] io/netty/handler/ already added, skipping
[INFO]

[2019-09-10 00:47] #38 closed

[2019-09-10 00:48] wds3817 commented on #38
I don't know why, but it worked on Monday morning in iTerm terminal.

[2019-09-15 05:35] longtranvnext commented on #37
@balajikadambi , how i can deploy java chaincode not use go ?

[2019-09-16 01:22] liujianglin1 commented on #37
change the CHAINCODE_1_PATH and CHAINCODE_ROOT_DIR in file Config.java

[2019-09-16 08:25] lotty02cho opened #39 "How do I start this project using byfn network?"
I try to run this project using byfn network( which version is 1.4.3) so I start `./byfn.sh -m up`, and copy artifacts like crypto-config, channel-artifacts..

but I don't know it is totally right, does anyone say about how I start this project using byfn network?

[2019-09-16 10:13] longtranvnext commented on #37
@liujianglin1

1. build source code java fabcar then copy jar to blockchain-application-using-fabric-java-sdk/network_resources/chaincode/src/chaincode/chaincode.jar

/usr/lib/jvm/jdk1.8.0_131/bin/java -javaagent:/home/longtran/working/workspace/tools/ideaIU-2018.3.1-no-jdk/idea-IU-183.4588.61/lib/idea_rt.jar=37673:/home/longtran/working/workspace/tools/ideaIU-2018.3.1-no-jdk/idea-IU-183.4588.61/b

[2019-09-19 03:55] balajikadambi commented on #37
@longtranvnext we have not tested with Java chaincode. can you login to docker container shell of the peers and orderer to see if there are any errors.

[2019-09-19 10:03] rampatra opened #40 "Is there a way to attach a listener for new data inserted into the channel?"
How do I attach a listener to detect new data being pushed to the channel by any other client? In the example, its clear how to setup orgs, peers, users, channel, and finally, post and query data, however, I am not clear as to how to invoke a particular method when new data is added to a channel.

[2019-09-30 16:06] Steampunk1453 opened #41 "Error Input byte array has incorrect ending byte at 1748"
We are using the SDK to connect to Amazon Managed Blockchain but the following error occurs:

java.lang.Exception: java.lang.IllegalArgumentException: Input byte array has incorrect ending byte at 1748
at org.hyperledger.fabric.sdk.Channel.sendProposalToPeers(Channel.java:4140)
at org.hyperledger.fabric.sdk.Channel.getConfigBlock(Channel.java:858)
at org.hyperledger.fabric.sdk.Channel.parseConfigB

[2019-10-03 13:51] heyxingtang opened #42 "Proposal response is invalid error when I invoke chaincode"
when i execute `java -cp blockchain-client.jar org.example.chaincode.invocation.InvokeChaincode`, then
`root@fabric-VirtualBox:~/go/src/IBM/blockchain-application-using-fabric-java-sdk/network_resources# java -cp blockchain-client.jar org.example.chaincode.invocation.InvokeChaincode
Oct 03, 2019 9:38:44 PM org.example.util.Util deleteDirectory
INFO: Deleting - admin.ser
Oct 03, 2019 9:38:45 PM org

[2019-10-03 14:54] #32 closed

[2019-10-03 14:57] maheshwarishikha commented on #39
@lotty02cho , when you are setting network using byfn - plz check if anything needs to be changed in config, before building maven project. It might help.

[2019-10-03 15:00] maheshwarishikha commented on #40
@rampatra
How do I attach a listener to detect new data being pushed to the channel by any other client?  - if you want to get notified on each insertion by others - then you can try using events.

how to invoke a particular method when new data is added to a channel. - you have to write a query method to achieve this but when and how...you need to figure out.

[2019-10-03 15:02] maheshwarishikha commented on #41
@Steampunk1453 ,
 the SDK is not able to handle a file with two certificates and needs only one - you can try deleting one certificate in that file and test to be sure.
If it works, then we may need to modify certificate file before using.

[2019-10-03 15:06] maheshwarishikha commented on #42
@heyxingtang , did u make any changes in code? which version of fabric you are using?

[2019-10-05 01:35] heyxingtang commented on #42
The hyperledger-fabric version is 1.4.1 and without changing the source code

[2019-10-05 01:56] heyxingtang commented on #42
`[root@VM_0_39_centos network_resources]# java -cp blockchain-client.jar org.example.chaincode.invocation.InvokeChaincode
十月 05, 2019 9:53:33 上午 org.example.util.Util deleteDirectory
信息: Deleting - admin.ser
十月 05, 2019 9:53:33 上午 org.example.util.Util deleteDirectory
信息: Deleting - user1570240399744.ser
十月 05, 2019 9:53:33 上午 org.example.util.Util deleteDirectory
信息: Deleting - org1
十月 05, 2019 9

[2019-10-08 10:18] gzuhlwang opened #43 "Error reading configuration: While parsing config: yaml: unknown anchor 'OrdererDefaults' referenced"
##  Question
Hi, I re-generate materials with instructions as specified in build.sh file, but I came across error when I do `configtxgen -profile TwoOrgsOrdererGenesis -outputBlock ./config/genesis.block` under the directory `$HOME/blockchain-application-using-fabric-java-sdk/network`.

## background
The configtxgen version is `v1.4.1`
The `$Home/blockchain-application-using-fabric-java-sdk/networ

[2019-10-08 15:17] Steampunk1453 commented on #41
Ok, thanks. Now we use the managedblockchain-tls-chain.pem certificate file with the property "pemFile" and we have not the "Input byte array"  error but we have "UNKNOWN: access denied" when we try to connect SDK with Amazon Managed Blockchain

[2019-10-12 09:37] gzuhlwang commented on #34
@FrozenFort hi, do you address the issue above? I am now doing  idemix things. If you made it, give me some hints, please. thanks.

[2019-10-16 09:51] #43 closed

[2019-10-16 23:50] mesbahiayoub opened #44 "Cannot create channel"
Hello,
I tried to creating the channel as follow `java -cp blockchain-client.jar org.example.network.CreateChannel`, but i keep getting this error :

`log4j:WARN No appenders could be found for logger (org.hyperledger.fabric.sdk.helper.Config).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
oct. 17, 2019 1

[2019-10-23 09:21] alecjonesnuyad05 commented on #42
@heyxingtang Would like to ask if you able to resolve this issue on your end? Because I get the same error.

[2019-10-24 15:26] Adriatorix opened #45 "Create/Enroll User Eclipse Problem"
Hi
I tried to run (for a project) some class of this code on Eclipse. In particular i copied RegisterEnrollUser.java and all import that it needs ( CAClient.java - CAEnrollment.java - Config.java - Util.java - UserContext.java that i rename UserImpl.java and other class).
Now i change caUrl with my IP address with :7054 port and i disabled the firewall of that port.
Now if i run the code i get the

[2019-10-27 06:56] solartes commented on #37
Any solution? It happens the same to me. Sometimes works sometimes does not work

[2019-10-29 04:00] balajikadambi commented on #37
@solartes we did not encounter the issue when we tried. so, not sure whats causing it. I would recommend debugging by logging into the docker container shell for the peers and orderer.

[2019-10-29 04:08] longtran84 commented on #37
@balajikadambi do you have a demo code about hyperledger java chaincode?

[2019-10-29 05:35] balajikadambi commented on #37
@longtran84 It is the same as the code shared on this GitHub repo.

[2019-10-29 06:08] longtran84 commented on #37
your code use GO, i wanna use hyperledger java chaincode?

[2019-10-29 10:59] Akilavasanthakumar93 commented on #44
Am also facing same issue..Any solution for this..

[2019-10-31 09:22] Akilavasanthakumar93 commented on #44
issue resolved. Problem with docker images.

[2019-11-01 13:18] mesbahiayoub commented on #44
@Akilavasanthakumar93  can please tell me what's the problem with docker image and how did you solve it.
Thanks a lot.

[2019-11-02 18:04] Akilavasanthakumar93 commented on #44
Orgs are refering with old images..I pulled new images..

On Fri 1 Nov, 2019, 6:48 PM mesbahiayoub, <notifications@github.com> wrote:

[2019-11-04 14:19] Varsh18 commented on #44
I am also facing this issue .... Please help me to solve this out

java -cp blockchain-client.jar org.example.network.CreateChannel
log4j:WARN No appenders could be found for logger (org.hyperledger.fabric.sdk.helper.Config).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
Nov 04, 2019 7:46:31 PM org.exampl

[2019-11-07 13:56] mesbahiayoub commented on #44
@Akilavasanthakumar93 i tried pulling new image (as follow) but it didn't work :

Using default tag: latest
latest: Pulling from hyperledger/fabric-ca
34667c7e4631: Already exists
d18d76a881a4: Already exists
119c7358fbfc: Already exists
2aaf13f3eff0: Already exists
3f89de4cf84b: Already exists
24194f819972: Already exists
414a8f56afc4: Pulling fs layer
d5aeaa3d2858: Pulling fs layer
248e89bdef30:

[2019-11-09 16:23] Akilavasanthakumar93 commented on #44
@mesbahiayoub
Before you start your network check local docker image version and docker-compose.yml  are contains same image version.

~/blockchain-application-using-fabric-java-sdk/network$ ./build.sh

Stopping the previous network (if any)
Removing peer0.org2.example.com ... done
Removing peer0.org1.example.com ... done
Removing peer1.org1.example.com ... done
Removing peer1.org2.example.com ...

[2019-11-18 08:42] lotty02cho commented on #39
when I tested default nework based on README.md, it works well.
and I try to run this project when I run byfn network.
So, I enter fabric-samples/first-network and run byfn.sh -m up.
and then, I start to change crypto-config and config to match the resources.
[code]
and now I wanna make maven install.
[code]
and finally I start to instantiate chaincode  by using  `org.example.network.DeployInstant

[2020-01-08 06:23] wangqinghuan commented on #32
I have same problem. How did you fix it? @FierceDog

[2020-01-14 23:09] Peixinho88 commented on #38
I can never get it to work. Did you change anything? Does it still work? Please help

[2020-01-22 11:24] maheshwarishikha commented on #37
@longtran84 , Sorry, this repo is not tested using Java chaincode. So not sure about the steps too. Debugging as per the error messages in logs might help.

[2020-01-22 11:28] maheshwarishikha commented on #40
@rampatra , its long time....no updates here. So closing the issue, please feel free to reopen or open a new issue if required. Thanks.

[2020-01-22 11:28] #40 closed

[2020-01-22 11:30] #44 closed

[2020-02-18 04:35] shitalninawe opened #46 "Losing actual error message sent by chaincode."
I am using fabric-gateway-java as dependency in my project which internally uses fabric-sdk-java.
In fabric-java-sdk we are losing actual error message that is sent by chaincode. Instead of actual error message we always get error like
"org.hyperledger.fabric.sdk.exception.ProposalException: org.hyperledger.fabric.sdk.exception.ServiceDiscoveryException: Could not meet endorsement policy for chain

[2020-02-22 05:16] magicmae commented on #37
I modified 1.4.1 to x86_64-1.0.0  of fabric edition in docker-compose.yml. Then it works.

[2020-04-16 08:54] bendre opened #47 "Java Chaincode remote debug"
I am looking for Java chaincode remote debugging setup/configuration
Expectation:
1. Able to do hit breakpoint/ line debug java chaincode on my local machine.
2. connect local code to remote chaincode via 'java -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=8000'

Environment:
1. Fabric networking running on local machine via docker compose (Fabcar)  network
2. Two Peer / each Or

[2020-05-29 23:25] AngelaMariaDespotopoulou opened #48 "Java chaincode instantiation from Java SDK"
Apparently one cannot instantiate a chaincode written in Java using the Java SDK.

This link explains exactly the reason.

https://jira.hyperledger.org/browse/FABJ-220

In 2017 the JIRA issue was closed without fix, awaiting official Java chaincode support. Is it the time to give it another try?

Thank you for your consideration.

[2020-06-12 02:24] muhammadhussainmughal commented on #48
INFO: fabcar- Chain code instantiation FAILURE

[2020-07-06 08:22] longtran84 commented on #37
@magicmae can you help me update to Hyperledger Fabric 2 network ?

[2020-07-09 13:47] longtran84 commented on #37
@balajikadambi can you help me update to Hyperledger Fabric 2 network ?

[2020-08-05 02:59] bigdaronlee163 commented on #37
i  met this problem too，follow the solution  by  @balajikadambi  to  increase The proposal wait time to  280000 ， 380000 and  turn out that  this Method doesnot work at  all 。please help！!!

daronlee@daronlee-virtual-machine:~/learning/experiment/tutorial/blockchain-application-using-fabric-java-sdk/network_resources$ java -cp blockchain-client.jar org.example.network.DeployInstantiateChaincode
lo

[2020-08-05 03:17] bigdaronlee163 commented on #37
same  problem....

daronlee@daronlee-virtual-machine:~/learning/experiment/tutorial/blockchain-application-using-fabric-java-sdk/network_resources$ java -cp blockchain-client.jar org.example.network.DeployInstantiateChaincode
log4j:WARN No appenders could be found for logger (org.hyperledger.fabric.sdk.helper.Config).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://lo

[2020-08-25 08:07] maheshwarishikha commented on #48
@muhammadhussainmughal - are you still facing issue?

[2020-08-28 18:13] bala-v09 commented on #37
Hi all, I was able to resolve this issue by changing the version of the docker image from 1.4.1 to 1.4 in docker-compose.yml. If you check the docker logs of the peer you can see that it fails because it is trying to pull a peer dependency but gets a 404 as the latest tag is no longer supported. I was able to get it working, and my docker-compose.y😂ml looks like this:
[code]

[2020-08-29 00:29] bigdaronlee163 commented on #37
thanks！I will  try  your  solution  as soon as possible.

On 08/29/2020 02:14, Bala wrote:

Hi all, I was able to resolve this issue by changing the version of the docker image from 1.4.1 to 1.4 in docker-compose.yml. If you check the docker logs of the peer you can see that it fails because it is trying to pull a peer dependency but gets a 404 as the latest tag is no longer supported. I was able

[2021-02-10 07:56] maheshwarishikha commented on #37
It worked for some...hence closing this issue. Please feel free to open a new issue if required. Thanks.

[2021-02-10 07:56] #37 closed

[2021-04-12 09:15] guang067 opened #50 "DeployInstantiateChaincode problem"
i try to create and deploy blockchain network using fabric-java-sdk,  but  got problems when run " java -cp blockchain-client.jar org.example.network.DeployInstantiateChaincode",  and retry to stop and build the network again, but still failure.

any advice are appreciate!!!!

[root@localhost network]# ./build.sh

Stopping the previous network (if any)
Removing peer1.org1.example.com ... done
Remo

[2021-05-25 06:29] zhsongdanc commented on #48
I have the same problem, Can you help me?

[2021-05-25 07:46] muhammadhussainmughal commented on #48
No Sir,
*Kind regards*
=============================
*Engr. Muhammad Hussain Mughal *
*Assistant Professor, *
*Department of **Computer **Science ,*
*Sukkur IBA University,*

On Tue, May 25, 2021 at 11:29 AM zhsong ***@***.***> wrote:

[2021-07-16 09:34] yuanchuangzuozhe commented on #48
I have the same problem, Can you help me?